{% extends 'base.html' %}

{% block title %}Suppliers List{% endblock title %}



{% block content %}

<div class= "row">
    <div class="col-sm">
        <table id="table_db" class="table table-bordered table-hover" style="width: 100%">
            <thead>
                <tr>
                  <th>Supplier</th>
                  <th>Contact Person</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Option</th>
                </tr>
            </thead>
            <tbody >
                {% for supply in suppliers %}
                <tr>
                  <th>{{supply.supplier_name}}</th>
                  <th>{{supply.contact_person}}</th>
                  <th>{{supply.email}}</th>
                  <th>{{supply.phone}}</th>
                  <td>
                    <button class="btn btn-success btn-flat btn-sm"><i class="nav-icon fas fa-eye"></i> view</button>
                    <a href="{% url 'supply' supply.id %}" class="btn btn-default btn-flat btn-sm ml-2"><i class="nav-icon fas fa-edit"></i> Edit</a>
                      {% csrf_token %}
                    <form action="{% url 'delete' id=supply.id %}" method = "POST" class="d-inline"> {% csrf_token %}

                    <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

<!--<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>-->
<!--<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>-->

{% block morejs %}
<script>
    $(document).ready(function () {
    $('#table_db').DataTable( {
        "paging": true,
        "searching": true,
        "autoWidth": true,
        "ordering": true,
    }
    );
} );
</script>
{% endblock morejs %}
